*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(255, 253, 253, 0.753);
}
.container{
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px auto 30px;
    width: 70vmax;
    border-radius: 6px;
    border: solid 1px rgb(3, 3, 3);
    padding: 25px;
}

#github_link{
    position: absolute;
    right: 30px;
}

#github_link img{
    height: 35px;
    width: 35px;
}

.container_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    color: rgb(3, 78, 148);
    margin-bottom: 20px;
}

.formulaire{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.peptid{
    height: 35px;
    font-weight: bold;
    color: rgb(3, 78, 148);
    border: solid 2px rgb(3, 78, 148);
    background-color: rgb(247, 247, 247);
    padding: 5px;
}

.modification{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

#message_erreur{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;

    justify-content: center;
}

.block_error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.678);
    border-radius: 5px;
    padding: 5px;
}

.block_error img{

    margin-right: 20px;
    height: 30px;
    color: #fff;
    filter: brightness(0) invert(1);
}

#exemple_peptide{
    font-size: 14px;
    margin-top: 7px;
}

.action_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.submit_btn,
.reset_btn,
.pdf_btn{
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    border: none;
    width: fit-content;
}

.submit_btn{
    background-color: rgb(3, 78, 148);
}

.reset_btn{
    background-color: rgb(118, 118, 118);
}

.container .description_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

.description_container .desc_p {
    margin: 10px 0px 20px;
    font-size: 1rem;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 10px;
    border: solid 1px rgb(3, 78, 148);
}

.item_propriete{
    width: 100%;
    padding: 5px;
}

.propriete{
    background-color: #ecf0f1;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    border-left: 5px solid rgb(3, 78, 148);
}
h2{
    margin-bottom: 5px;
}
.explication_propriete{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out,  padding 0.4s ease-out;
    background-color: #f9f9f9;
    padding: 0 15px;
    border-radius: 0 0 8px 8px;
}

.explication_propriete.active{
    max-height: 500px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.explication_propriete ul{
    list-style: disc;
    margin: 10px 0 10px 25px;
    padding: 0;
}

.propriete.active{
    background-color: rgb(3, 78, 148);
    color: white;
    border-radius: 8px 8px 0 0;
}

.propriete .arrow {
  float: right;
  transition: transform 0.3s ease;
}

.propriete.active .arrow {
  transform: rotate(180deg);
}

.pdf_btn{
    margin-top: 10px;
    align-items: center;
    background-color: rgb(16, 103, 186);
}

.longueur_pep{
    margin-top: 20px;
    margin-left: auto;
}

#number{
    font-size: 23px;
    color: rgb(3, 78, 148);
    font-weight: bold;
}

.submit_btn:hover,
.reset_btn:hover,
.pdf_btn:hover{
    cursor: pointer;
    background-color: rgb(21, 136, 243);
}

.resultat{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.resultat ul{
    list-style: none;
    margin: 10px;
}

.resultat ul li{
    border: solid 1px rgb(3, 78, 148);
    padding: 5px;
}

.grid_1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    min-height: 400px;
}

#graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.list_resultat{
    color: rgb(3, 78, 148);
}

#code_one_letter{
    overflow-wrap: anywhere;
}

.graph_hydro{

    border: solid 1px rgb(3, 78, 148);
    padding: 5px;
    margin: 10px;
}
#titre_graph{
    position: static;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(16, 103, 186);
    color: white;
    width: fit-content;
}

@media print {
    body {
        background: white;
    }

    .no-print {
        display: none;
    }

    .container {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
        background: white;
        padding: 0;
    }

    #graph .plotly-graph-div {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .grid_1{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 90%;
    }

}